extends ../layout
block main-content
    .text-center
        h3 List of Customers

        table.center(class='gridtable')
            tr
                th Id
                th Name
                th Email
                th Telephone
                th Edit
                th Delete
                th Info
            each item in customers
                tr
                    td
                        a(href='/customer/details/#{item.id}') #{item.id}
                    td #{item.name}
                    td #{item.email}
                    td #{item.telephone}
                    td
                        a.btn.btn-default(href='/customer/edit/#{item.id}') Edit
                    td
                        a.btn.btn-danger(href='/customer/delete/#{item.id}') Delete
                    td
                        a.btn.btn-info(href='/customer/details/#{item.id}') Details

        p
        #menu
            a.btn.btn-lg.btn-info(href='/customer/create') Add new customer